<!-- Jumbotron -->
<div class="jumbotron">
  <h1 class="display-4">Welcome,</h1>
  <p class="lead">Join us, to bookmark any programming tutorial, video, article, etc, and have it in a nicely organized for you to reference later. </p>
  <hr class="my-4">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <button class="btn light-purple-bg white-color">Create new Topic</button>
      </div>
      <div class="col-sm">
        <button class="btn sea-green-bg white-color">Create new Bookmark</button>
      </div>
    </div>
  </div>
</div>



<!-- bookmark -->
<app-bookmark [bookmarks]="bookmarks"></app-bookmark>
