<!-- Jumbotron -->
<div class="jumbotron">
  <h1 class="display-4">Welcome,</h1>
  <p class="lead">Join us, to bookmark any programming tutorial, video, article, etc, and have it in a nicely organized for you to reference later. </p>
  <hr class="my-4">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <button class="btn light-purple-bg white-color" data-toggle="modal" data-target="#exampleModal">Create new Topic</button>
      </div>
      <div class="col-sm">
        <button class="btn sea-green-bg white-color" data-toggle="modal" data-target="#exampleModalTwo">Create new Bookmark</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createTopic" (ngSubmit)="addNewTopic()">
          <div class="form-group">
            <div id="topic-message-container" *ngIf="showTopicMessage.show">
              <div [ngSwitch]="showTopicMessage.message">
                <div class="alert alert-success" role="alert" *ngSwitchCase="true">
                  Topic Successfully created!!!
                </div>
                <div class="alert alert-danger" role="alert" *ngSwitchCase="false">
                  Topic couldnt be created, try again!!!
                </div>
              </div>
            </div>
            <label for="title">Title</label>
            <div *ngIf="topicIsSubmitted && createTopic.controls.title.errors" class="text-danger">
              <div *ngIf="createTopic.controls.title.errors.required">Title is required</div>
              <div *ngIf="createTopic.controls.title.errors.minlength">Title must be at least 3 characters</div>
              <div *ngIf="createTopic.controls.title.errors.maxlength">Title can only have a maximum of 15 characters</div>
          </div>
            <input type="text" class="form-control" formControlName="title" placeholder="Title">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalTwo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Bookmark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createBookmark" (ngSubmit)="addNewBookmark()">
          <div class="form-group">
            <div id="bookmark-message-container" *ngIf="showBookmarkMessage.show">
              <div [ngSwitch]="showBookmarkMessage.message">
                <div class="alert alert-success" role="alert" *ngSwitchCase="true">
                  Bookmark Successfully created!!!
                </div>
                <div class="alert alert-danger" role="alert" *ngSwitchCase="false">
                  Bookmark couldnt be created, try again!!!
                </div>
              </div>
            </div>
            <label for="topic_title">Title</label>
            <input type="text" class="form-control" formControlName="title" placeholder="Title">
            <div *ngIf="bookmarkIsSubmitted && createBookmark.controls.title.errors" class="text-danger">
              <div *ngIf="createBookmark.controls.title.errors.required">Title is required</div>
              <div *ngIf="createBookmark.controls.title.errors.minlength">Title must be at least 3 characters</div>
              <div *ngIf="createBookmark.controls.title.errors.maxlength">Title can only have a maximum of 15 characters</div>
          </div>
          </div>
          <div class="form-group">
            <label for="topic_title">Subject</label>
            <input type="text" class="form-control" formControlName="subject" placeholder="Subject">
            <div *ngIf="bookmarkIsSubmitted && createBookmark.controls.subject.errors" class="text-danger">
              <div *ngIf="createBookmark.controls.subject.errors.required">Subject is required</div>
              <div *ngIf="createBookmark.controls.subject.errors.minlength">Subject must be at least 3 characters</div>
              <div *ngIf="createBookmark.controls.subject.errors.maxlength">Subject can only have a maximum of 100 characters</div>
          </div>
          </div>
          <div class="form-group">
            <label for="topic_title">Description</label>
            <input type="text" class="form-control" formControlName="description" placeholder="Description">
            <div *ngIf="bookmarkIsSubmitted && createBookmark.controls.description.errors" class="text-danger">
              <div *ngIf="createBookmark.controls.description.errors.required">Description is required</div>
              <div *ngIf="createBookmark.controls.description.errors.minlength">Description must be at least 3 characters</div>
              <div *ngIf="createBookmark.controls.description.errors.maxlength">Description can only have a maximum of 500 characters</div>
          </div>
          </div>
          <div class="form-group">
            <label for="topic_title">Link Url</label>
            <input type="text" class="form-control" formControlName="link_url"  placeholder="Link Url">
            <div *ngIf="bookmarkIsSubmitted && createBookmark.controls.link_url.errors" class="text-danger">
              <div *ngIf="createBookmark.controls.link_url.errors.required">Link Url is required</div>
              <div *ngIf="createBookmark.controls.link_url.errors.minlength">Link Url must be at least 3 characters</div>
              <div *ngIf="createBookmark.controls.link_url.errors.maxlength">Link Url can only have a maximum of 300 characters</div>
          </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Topics -->
<div *ngIf="showTopics; else showLoadingSpinner">
  <app-topic [topics]="topics"></app-topic>
</div>

<ng-template #showLoadingSpinner>
  <ngx-spinner></ngx-spinner>
</ng-template>



