<h3 style="text-decoration: underline; margin-bottom: 30px; margin-top: 30px;">Bookmarks</h3>
<div class="row" style="padding: 30px;">
  <div class="row">
      <div class="col-sm-7" style="margin-bottom: 20px; margin-left: 10x;" *ngFor="let bookmark of bookmarks">
        <div class="card">
          <h5 class="card-header"></h5>
          <div class="card-body">
            <h5 class="card-title">{{bookmark.subject}}</h5>
            <p class="card-text">{{bookmark.description}}</p>
            <a href="{{bookmark.link_url}}" class="btn blue-bg white-color">Click to Visit Link</a>
          </div>
        </div>
      </div>
</div>
</div>
