/* You can add global styles to this file, and also import other style files */

.red-bg {
  background-color: #FF5A5F !important;
}

html {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* https://images.unsplash.com/photo-1517596107285-5ce3dd0f61df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80 */

.jumbotron {
  /* background-image: url("https://images.unsplash.com/photo-1517596107285-5ce3dd0f61df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  background-size: cover; */
}

.light-purple-bg {
  background-color: #CD77D7 !important;
}

.white-color {
  color: white !important;
}

.sea-green-bg {
  background-color: #84D990 !important;
}

.purple-bg {
  background-color: #6F44C6;
}

.blue-bg {
  background-color: #629FF2 !important;
}

.black-bg {
  background-color: #050215 !important;
}

button {
  box-shadow: 3px 3px 0 rgba(135,134,134,.45) !important;
}

.box-shadow {
  box-shadow: 3px 3px 0 rgba(135,134,134,.45) !important;
}
